h1 {
    color: rgba(0, 200, 100, 0.9);
    /* border-width: 5px ;
    border-style: solid;
    border-color: purple; */
    border: 5px solid purple;
}
/* Border has:
        1- width
        2- style 
        3- color
*/

li {
    color: green;
}
h4 {
    background: rgb(255, 100, 80);
}
body {
    background: pink;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkmMk79XUzXWAS2Afb2XBi8A8BHq8_AH_rZg_QIrBq29T4_gjy&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover; */
}